@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
body{
    background: #2C2F33;
    background: #34373A;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #23272A;
    height: 13vh;
}
.info-Header{
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-weight: 700;
}
header h1{
    color: #FFF;
    font-size: 28px;
}
header a{
    color: #99AAB5;
    font-size: 13px;
    font-weight: 500;
}
#userList{
    padding: 0;
    margin-left: 40px;
}
#userList li{
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    margin: 20px 0;
}
#userList img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 17px;
}
#userList a{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

#userList a:hover{
    color: #858585;
    font-size: 22px;
}

#userList a:active{
    color: #858585;
    font-size: 22px;
}