@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');

 * {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-style: normal;
    line-height: normal;
}
