@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');

 * {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-style: normal;
    line-height: normal;
}
body{
    display: flex;
    padding: 0px;
    margin: 0px;
}

#list{
    background: #2C2F33;
}
h1{
    color: #FFF;
    font-size: 32px;   
    font-weight: 700;
    background: #23272A;
    margin: 0;
    margin-bottom: 5px;
    width: 400px;
}
#textHere{
    text-align: center;
    background: #34373A;
    width: 77vw;
    color: #FFF;
    font-size: 26px;
}
#textHere h2{
    margin-top: 40vh;
}
#header{
    text-align: center;
    background: #23272A;
    padding: 0 20px 0 20px;
    position: fixed;
    height: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#header a{
    color: #99AAB5;
    font-size: 13px;
}
#header a:hover{
    color: #FFF;
    font-size: 13px;
}
#userList{
    padding: 0;
    margin-left: 40px;
    margin-top: 7vw;
    width: 21vw;
}
#userList li{
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    margin: 20px 0;
}
#userList a{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
#userList a:hover{
    color: #99AAB5;
    cursor: pointer;
}
#userList img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 17px;
}
.top{
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 111px;
    border-bottom: 3px solid #252121;
}
.top h2{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}
.top img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 40px;
}
#id{
    margin: 0;
    position: absolute;
    align-self: flex-end;
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
    margin: 10px;
}
.table{
    width: 94%;
    margin-top: 15vh;
    color: #FFF;
    font-size: 23px;
    text-align: center;
    margin-left: 4vh;
}

.headtab{
    display: flex;
    color: #99AAB5;
    font-weight: 600;
    border-bottom: #252121 solid 3px;
}
.headtab h3{
    margin: 0;
}
.headtab div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
}
#voctime{
    flex-direction: column;
}
.maintab{
    display: flex;
    font-weight: 500;
}
.serveur{
    width: 24%;
    border-right: #252121 solid 3px;
}
.derniere_connexion{
    width: 24%;
    border-right: #252121 solid 3px;
}
.temps_en_voc{
    width: 24%;
    border-right: #252121 solid 3px;
}
#lastMaj{
    margin: 5px 0 10px 0;
    padding: 0;
    font-size: 16px;
    color: #dddddd;
    font-weight: 500;
}
.nb_messages{
    width: 24%;
    border-right: #252121 solid 3px;
}
.nb_spam{
    width: 24%;
}

#userDetails{
    align-items: center;
    flex-direction: column;
    background: #34373A;
    width: 77vw;
    position: fixed;
    float: left;
    margin-left: 23%;
    padding: 0;
    height: 100vw;
}

